.nav-item{
    font-size: 15px;
   width:100%;
    text-align:center;

 


    
}.button{
  width:auto;
  border-radius:10px;
  background-color: rgba(0, 128, 0, 0.694);
  
}
.navbar-nav li{
margin-left: 10px;
margin-right: 10px;
}
.nav-link{
  color:white;

}
.event_date{
    color:green;
    font-size: 20px;
   
}

.banner{
  

background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center center;
width: 100%;
height: auto;
margin:0;
padding:0px;
display:block;

position:relative;




}
.card{
  display:block;
}
.footer{
  background-image: url("bottombar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width:100%;
  display:block;
  padding-top:30px;
  color:white;
}

@font-face{
font-family: 'myfont';
src:url("Arial\ regular.ttf");

}
.main-text {
  
 
  position: absolute;
 
  top:160px;
 
  color: green;
}
.entry-meta i{
color:green;

}
h1{
  font-size:20px;
  font-family: 'myfont';
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.816);
}
h{
  color:black;
  
}
.button:hover{
    background-color: yellowgreen;

}



.carousel-item img{
    position: relative;
    width:100%;
    height:800px;
    background-size: cover;
  
  
  
}





section{
    padding-top:20px;
 

}
body{
    overflow-x: hidden;
    text-align: justify;


}
@media (max-width: 640px)
{
    
}

@media (max-width: 991px){
    
}
div.scroll-up {

   height: 350px;	
   overflow: hidden;
   position: relative;
   background : whitesmoke;
   color: orange;
   font-size:18px;
   
  
  }
  div.scroll-up ul {
  text-align:left;
  width:auto;
   position: absolute;
  
   height: 100%;
   margin: 0;
   text-align: left;
   /* Starting position */
   -moz-transform:translateY(100%);
   -webkit-transform:translateY(100%);	
   transform:translateY(100%);
   /* Apply animation to this element */	
   -moz-animation: scroll-up 10s linear infinite;
   -webkit-animation: scroll-up 10s linear infinite;
   animation: scroll-up 10s linear infinite;
  }
  /* Move it (define the animation) */
  @-moz-keyframes scroll-up {
   0%   { -moz-transform: translateY(100%); }
   100% { -moz-transform: translateY(-100%); }
  }
  @-webkit-keyframes scroll-up {
   0%   { -webkit-transform: translateY(100%); }
   100% { -webkit-transform: translateY(-100%); }
  }
  @keyframes scroll-up {
   0%   { 
   -moz-transform: translateY(100%); /* Browser bug fix */
   -webkit-transform: translateY(100%); /* Browser bug fix */
   transform: translateY(100%); 		
   }
   100% { 
   -moz-transform: translateY(-100%); /* Browser bug fix */
   -webkit-transform: translateY(-100%); /* Browser bug fix */
   transform: translateY(-100%); 
   }
  }
  a:active{
    color:white;
  }
  
 
  h1 {
    animation: move 3s;
    -webkit-animation: move 3s;
  }
  
  @keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
              
  @-webkit-keyframes move {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.marquee {
 height: 50px;	
 overflow: hidden;
 position: relative;
 background-color: rgba(8, 8, 8, 0.802) ;
 color: white;

 display:block;
}
.marquee p {
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 3s linear infinite;
 animation: scroll-left 3s linear infinite;
 animation-duration: 25s;

}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

